body {
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-size: 14px;
    line-height: 26px;
    text-transform: uppercase;
    color: #000000;

    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    -webkit-clip-path: inset(100%);

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.button {
    border: none;
    text-decoration: none;
    color: #ffffff;
    font: inherit;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
}

.container {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    box-shadow: 0px 0px 15px 5px rgba(0, 1, 1, 0.2);
}

.main-navigation {
    display: flex;
    position: relative;
}

.site-navigation {
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    padding-top: 15px;
    padding-bottom: 17px;
}

.site-navigation li {
    width: 240px;
    box-sizing: border-box;
}

.site-navigation li:first-child {
    padding-left: 72px;
}

.site-navigation li:nth-child(2) {
    margin-right: 240px;
    text-align: center;
}

.site-navigation li:nth-child(3) {
    text-align: center;
}

.site-navigation li:last-child {
    padding-right: 72px;
    text-align: right;
}

.site-navigation li a {
    color: #000000;
    font-weight: 700;
}

.header-logo {
    position: absolute;
    width: 138px;
    left: 50%;
    margin-left: -69px;
    z-index: 2;
}

.welcome-block {
    background-color: #dae8f1;
    background-image: url(../img/background-welcome-block.jpg);
    height: 508px;
    width: 1200px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome-title {
    margin-top: 76px;
    margin-bottom: 23px;
}

.advantages-title {
    padding-top: 55px;
    padding-bottom: 54px;
}

.advantages h2 {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
}

.advantages-title-info {
    color: #333333;
    text-align: center;
}

.first-advantage {
    width: 1200px;
    height: 256px;
    display: flex;
}

.first-advantage-info {
    background-color: #81b3d2;
    
    color: #ffffff;
    text-align: center;
    width: 400px;
}

.first-advantage-info h3 {
    margin-top: 0;
    font-size: 21px;
    line-height: 21px;
    font-weight: 700px;
    padding-top: 40px;
}

.first-advantage-info span {
    font-size: 14px;
    line-height: 21px;
}

.first-advantage-info p {
    font-size: 14px;
    line-height: 21px;
}

.etc-advantages-list {
    list-style: none;
    padding: 0;
    margin: 0;

    display: flex;
    width: 1200px;
}

.etc-advantages-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 400px;
}

.etc-advantages-img {
    margin: 0;
    padding: 0;

    padding-top: 56px;
}

.etc-advantages-item h3 {
    font-weight: 700;
    font-size: 21px;
    line-height: 21px;

    margin-top: 25px;
}

.etc-advantages-info {
    color: #333333;
    font-size: 14px;
    line-height: 21px;

    margin: 0;
    padding: 0;
    
    padding-bottom: 80px;
}

.second-advantage {
    display: flex;
    width: 1200px;
    height: 256px;
}

.second-advantage-info {
    background-color: #81b3d2;
    
    color: #ffffff;
    text-align: center;

    width: 400px;
}

.second-advantage-info h3 {
    font-size: 21px;
    line-height: 21px;
    font-weight: 700px;
    margin-top: 0;

    padding-top: 43px;
}

.second-advantage-info span {
    font-size: 14px;
    line-height: 21px;
}

.second-advantage-info p {
    font-size: 14px;
    line-height: 21px;
    padding-bottom: 60px;
}

.other-advantages {
    background-color: #eeeeee;
}

.other-advantages-list {
    list-style: none;
    padding: 0;
    margin: 0;

    display: flex;
    width: 1200px;
}

.other-advantage-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    text-align: center;
}

.other-advantage-item h3 {
    font-weight: 700;
    line-height: 21px;
    font-size: 21px;

    padding-top: 40px;
}

.other-advantage-item span {
    font-size: 14px;
    line-height: 21px;
    color: #333333;
}

.other-advantage-item p {
    font-size: 14px;
    line-height: 21px;
    color: #333333;
    padding-bottom: 55px;
}

.interest-block {
    width: 576px;
    margin: 0 auto;
}

.form-section-title {
    text-align: center;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;

    padding-top: 50px;
}

.form-section-title-info {
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    color: #333333;
    padding-bottom: 50px;
}

.show-form-button {
    background-color: #766357;
    width: 576px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.map-section {
    position: relative;
}

.form-block {
    width: 576px;
    margin: 0 auto;
}

.search-form {
    display: flex;
    width: 576px;
    height: 395px;
    box-sizing: border-box;
    flex-wrap: wrap;
    justify-content: space-between;


    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -288px;

    background-color: #ffffff;

    padding: 55px;

}

.search-form p {
    padding: 0;
    margin: 0;
}

.entry-date-block {
    display: flex;
    justify-content: space-between;
}

.departure-date-block {
    display: flex;
    justify-content: space-between;
}

.search-form label {
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
}

.search-form input {
    border: medium none;
    background-color: rgb(242, 242, 242);
    text-transform: uppercase;
    width: 331px;
    height: 35px;
    padding-left: 15px;

    font: inherit;
    font-weight: 700;
}

.search-form .entry,
.search-form .departure {
    padding-top: 5px;
    margin-bottom: 10px;
}

.amount {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 40px;
    width: 466px;
    box-sizing: border-box;
}

.amount input {
    width: 37px;
    border: none;
    background-color: #f2f2f2;
    text-align: center;
    padding-left: 0;
}

.amount p {
    width: 229px;
}

.amount button {
    height: 37px;
    width: 40px;
    font: inherit;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 26px;

    border: medium none;
    background-color: rgb(242, 242, 242);

    width: 346px;
    height: 39px;
}

.search-form input[name="entry-date"],
.search-form input[name="departure-date"] {
    padding-left: 15px;
}

.search-form .amount {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;

    width: 458px;
    height: 39px;
}

.amount input {
    width: 38px;
    height: 38px;
    border: none;
    text-align: center;
    background-color: #f2f2f2;
    padding: 0;
}

.amount button {
    width: 38px;
    height: 38px;
    border: none;
    background-color: #f2f2f2;
    color: #a9a9a9;
}

.amount button[name="minus-adult"] {
    margin-left: 40px;
}

.amount button[name="plus-adult"] {
    margin-right: 52px;
}

.amount button[name="minus-children"] {
    margin-left: 26px;
}

[class^="icon-"]::before, 
[class*=" icon-"]::before {
    display: inline-block;
    width: 1em;
    margin-right: 0.2em;
    margin-left: 0.2em;
    font-weight: normal;
    line-height: 1em;
    font-family: "symbols-sedona";
    text-align: center;
    text-transform: none;
    text-decoration: inherit;
    font-style: normal;
    font-variant: normal;
    speak: none;
}

.icon-calendar::before {
    content: "";
    background-image: url(../svg/calendar.svg);
    margin-right: 51px;
}

.amount button[name="minus-children"] {
    margin-left: 27px;
}

.entry-date-cal {
    position: absolute;
    top: 62px;
    right: 62px;
}

.departure-date-cal {
    position: absolute;
    top: 130px;
    right: 62px;
}

.icon-plus::before {
    content: "";
}

.search-form > button {
    width: 100%;
    height: 58px;
    background-color: #81b3d2;
    border: none;
    align-self: flex-end;
}

.main-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;

    padding-top: 36px;
    padding-bottom: 36px;
}

.footer-index {
    position: absolute;
    z-index: 2;
    bottom: 0;
    background-color: rgba(242, 242, 242, 0.9);
}

.hashtag-sedona a {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
    text-decoration: none;
    margin-left: 132px;
}

.footer-social-list {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: 256px;
    margin-right: 228px;

    display: flex;
    width: 150px;
}

.footer-social-item {
    background: #81b3d2;
    width: 46px;
    height: 48px;
}

.footer-social-item{
    display: flex;
    align-items: center;
    vertical-align: middle;
    text-align: center;
    justify-content: center;

    margin-right: 6px;
}

.developer-block {
    margin-right: 100px;
}

.developer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    text-decoration: none;
    font-size: 14px;
    line-height: 26px;
}

.developer-link .developer-logo {
    margin-left: 8px;
}

.hotel-search {
    box-sizing: border-box;
    min-height: 217px;
    background-color: #7a9bbe;
    background-image: url(../img/background-filter.jpg);
    background-repeat: no-repeat;
    background-position: center;

    color: #ffffff;
}

.hotel-search-form {
    display: flex;
    width: 1056px;

    padding-top: 26px;
    padding-bottom: 31px;
    padding-left: 72px;
    padding-right: 72px;
}

.hotel-search-form fieldset {
    margin: 0;
    padding: 0;
}

.infrastructure {
    width: 255px;
    border: 0 none;
}

.hotel-search-form input[type="checkbox"] {
    display: none;
}

.hotel-search-form input[type="checkbox"] + label {
    display: block;
    padding-left: 40px;
    position: relative;
    cursor: pointer;
}

.infrastructure input[type="checkbox"] + label,
.housing input[type="checkbox"] + label {
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    margin-bottom: 25px;
}

.infrastructure legend,
.housing legend {
    font-size: 16px;
    line-height: 21px;
    font-weight: 700;
    margin-bottom: 25px;
}

.housing {
    width: 255px;
    border: 0 none;
}

.hotel-search-form input[type="checkbox"] + label::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 23px;
    height: 23px ;
    background-image: url(../svg/checkbox-off.svg);
}

.hotel-search-form input[type="checkbox"]:checked + label::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 27px;
    height: 23px ;
    background-image: url(../svg/checkbox-on.svg);
}

.hotel-search-form .cost {
    border: 0 none;
    margin-left: auto;
}

.filter-range-title {
    margin-bottom: 9px;
    
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
}

.cost-control {
    position: relative;

    height: 36px;
    margin-bottom: 20px;

    font-size: 0;

    border: 2px solid #ffffff;
    border-radius: 2px;
}

.cost-control::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 22px;

    background-color: #ffffff;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cost-control label {
    display: inline-block;

    font-size: 14px;
    line-height: 38px;
    vertical-align: top;

    cursor: pointer;
}

.cost-control .min-price,
.cost-control .max-price {
    width: 90px;
    padding-left: 65px;
}

.cost-control input {
    width: 50px;
    margin: 0;

    color: inherit;
    font: inherit;

    background: none;
    border: none;
}

.cost-range {
    position: relative;

    margin-bottom: 32px;
}

.cost-range .scale {
    height: 2px;

    background-color: rgba(255, 255, 255, 0.3);
}

.cost-range .bar {
    height: 2px;
    width: 80%;
    background-color: #ffffff;
}

.range-toggle {
    position: absolute;
    top: -9px;

    width: 4px;
    height: 4px;

    background-color: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
}

.range-toggle-min {
    left: 0;
}

.range-toggle-max {
    left: 80%;
}

.btn-transparent {
    display: block;
    margin: 0 auto;
    padding: 6px 32px;

    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    text-transform: uppercase;

    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 2px;
    cursor: pointer;
}

.sorting {
    display: flex;
    min-height: 87px;

    border-bottom: 2px solid #e5e5e5;
}

.sorting-sum {
    padding-left: 72px;
    align-self: center;
    margin-right: 49px;
}

.sorting-list-block {
    display: flex;
    align-self: center;
}

.sorting-list-block span {
    margin-right: 40px;
}

.sorting-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sorting-list li {
    margin-right: 33px;
}

.sorting-list li:last-child {
    margin-right: 0;
}

.sorting-buttons-block {
    width: 110px;
    margin-left: auto;
    padding-right: 72px;
    display: flex;

    justify-content: flex-end;
}

.sorting-buttons-block .sort-button-up, 
.sorting-buttons-block .sort-button-down {
    width: 0;
    height: 0;
    padding: 0;
    border-style: solid;
    border-width: 10px 5.5px 0;
    border-color: #81b3d2 #ffffff #ffffff;
    align-self: center;
}

.sorting-buttons-block .sort-button-up {
    margin: 0;
    border-width: 0 5.5px 10px;
    border-color: #ffffff #ffffff #a6a6a6;

    margin-right: 12px;
}

.hotels-list {
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;

    align-items: center;
}

.hotel-item {
    display: flex;
    padding: 25px 72px;
    border-bottom: 2px solid #e5e5e5;
}

.hotel-img {
    width: 165px;
    height: 90px;
}

.hotel-description {
    display: flex;
    flex-wrap: wrap;
    width: 780px;

    min-height: 100px;
    align-content: flex-start;
}

.hotel-description h2 {
    min-width: 750px;
    margin-top: 0;
    margin-bottom: 5px;
}

.details-item {
    width: 110px;
    margin-right: 6px;
}

.details-item a {
    display: block;
    padding: 3px 17px;
    color: #ffffff;
    font-size: 14px;
    line-height: 21px;
    font-weight: 700;
    background-color: #81b3d2;

    margin-top: 15px;
}

.reserve-item {
    width: 142px;
}

.reserve-item a {
    padding: 3px 17px;
    color: #ffffff;
    font-size: 14px;
    line-height: 21px;
    font-weight: 700;
    background-color: #766357;

    margin-top: 15px;

    display: block;
}

.rating-item {
    margin-left: auto;
    display: flex;
    width: 120px;
    height: 91px;
    justify-content: space-between;

    flex-direction: column;

    text-align: right;
}

.rating-sum {
    color: #666666;
    background-color: #f2f2f2;
    padding: 3px 16px;
}