doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", href="css/style.min.css")
		title Sedona
	body 
		.container 
			include html/header
			main 
				section.banner 
					h1.visually-hidden Добро пожаловать в Седону
					.banner__text 
						img(src="@img/banner-text.png", alt="Text")
					.banner__shape
						img(src="@img/banner-shape.png", alt="shape")
				section.advantages  
					h2.advantages__promo Седона — небольшой городок в Аризоне,<br>заслуживающий большего!
					p.advantages__subpromo Рассмотрим 5 причин, по которым Седона круче, чем гранд каньон!
					.advantages__top 
						.advantages__big 
							.advantages__left 
								strong.advantages__title Настоящий<br>городок
								p.advantages__number -№1-
								p.advantages__subtitle Седона — не аттракцион для туристов,<br>там течет своя жизнь
							.advantages__right 
								img(src="@img/advantages-1.jpg", alt="Настоящий городок")
						ul.advantages__list 
							li.advantages__item 
								strong.advantages__title Жилье
								p.advantages__subtitle Рекомендуем пожить в настоящем<br>мотеле, все как в кино
							li.advantages__item 
								strong.advantages__title Еда
								p.advantages__subtitle Всегда заказывайте фирменный бургер,<br>вы не разочаруйтесь
							li.advantages__item 
								strong.advantages__title Сувениры
								p.advantages__subtitle Не только китайского, но и местного<br>производства!
					.advantages__bottom
						.advantages__big 
							.advantages__left 
								img(src="@img/advantages-2.jpg", alt="Настоящий городок")
							.advantages__right 
								strong.advantages__title Там есть<br>мост дьявола
								p.advantages__number -№2-
								p.advantages__subtitle Да, по нему можно пройти! Если конечно<br>вы осмелитесь
						ul.advantages__list 
							li.advantages__item 
								strong.advantages__title Небольшая<br>площадь
								p.advantages__number -№3-
								p.advantages__subtitle Все достопремичательности<br>находяться очень близко
							li.advantages__item 
								strong.advantages__title Красивая<br>дорога
								p.advantages__number -№4-
								p.advantages__subtitle Ехать в Седону из Лас-Вегаса совсем<br>не скучно
							li.advantages__item 
								strong.advantages__title Мало<br>туристов
								p.advantages__number -№5-
								p.advantages__subtitle Большинство едет в Гранд Каньон и<br>толпится там
				section.feedback
					h2.feedback__title Заинтересовались?
					p.feedback__text Укажите предполагаемые даты поездки,<br>и мы покажем вам лучшие предложения гостиниц в седоне
					a.feedback__btn(href="#") Поиск гостиницы в седоне
					.feedback__popup 
						form.feedback__form(action="GET") 
							.feedback__item 
								label.feedback__label(for="check-in") Дата заезда:
								input.feedback__input#check-in(type="date", name="check-in" value="2017-04-24")
							.feedback__item 
								label.feedback__label(for="check-out") Дата выезда:
								input.feedback__input#check-out(type="date", name="check-out" value="2017-07-04")
							.feedback__item 
								.feedback__left 
									label.feedback__label(for="adult") Взрослые:
									.feedback__counter
										button.feedback__minus -
										input#adult(type="number", name="adult", min="0", value="0") 
										button.feedback__plus +
								.feedback__right
									label.feedback__label(for="child") Дети:
									.feedback__counter
										button.feedback__minus -
										input#child(type="number", name="child", min="0", value="0") 
										button.feedback__plus +
							button.feedback__submit(type="submit") Найти
				section.map
					.map__img 
						img(src="@img/map.jpg", alt="Карта")
			script(src="js/app.min.js") 
			include html/footer