@mixin btn($width:300px, $height: 80px, $bg:#766357, $fz: 14px, $lh: 26px) {
  display: flex;
  align-items: center;
  justify-content: center;

  width: $width;
  height: $height;

  background-color: $bg;
  font-size: $fz;
  line-height: $lh;
  font-weight: 700;
  color: $white;

  border: none;

  text-decoration: none;
  text-transform: uppercase;

  cursor: pointer;
}